body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
   font-family: 'Figtree',sans-serif;
    height:100vh;
    margin: 0;
}

button{
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-right: 70%;
    padding-top:5px;
    font-family:'Times New Roman', Times, serif;
}

p{
    font-size: 16px;
}
.card img{
    display: block;
  height:auto;
    border-radius: 25px ;
    text-align:center;
   width:100%;
 
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    background-color: white;
    box-shadow: 8px 8px 0px  black;
    border: 2px solid black;
    transition: 0.1s;
    width: 100%;
    padding:20px;
    max-width:380px;
    border-radius: 25px;
    margin: 0 auto;
    border-right: 5px black;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#a {
    display: flex;
    gap: 10px;
  alingn-self: flex-start;
  
   
}
#a span{
    padding-top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#a img{
   
    height: 35px;
   width: 35px;
   
   
}
@media (max-width: 768px) {
    .card{
       width:100%;
        padding:15px;
    }
}






